.home-background {
    background-image: url('/public/portada2.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
@media (max-width: 768px) {
    .form-columns {
        flex-direction: column;
    }
}
