.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/portada2.png');
}

.login-form {
  background: rgba(0, 0, 0, 0.596);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff;
}

.login-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.login-field label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #ffffff;
}

.login-field input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.9rem;
  background-color: #382307;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5a3300;
}

.login-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
